@charset "UTF-8";
:root {
  --primary-color: #212121;
  --no-primary-color: #757575;
  --nav-color: #2196f3;
  --white: #ffffff;
  --background: #2f303a;
  --white-tel-em: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --items-color: #eeeeee;
  --icon-fill: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

li {
  margin: 0px;
}

p {
  margin: 0px;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  list-style: none;
}

ul {
  margin: 0px;
  padding: 0px;
}

/*Общие стили секции*/
.header {
  padding: 16px 0px;
}

.header-nav {
  display: none;
}

.header-nav-contacts {
  display: none;
}

.header-logo {
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--nav-color);
  text-decoration: none;
}

.header-logo-span {
  font-family: Oleo Script;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  text-decoration: none;
}

.list {
  list-style: none;
}

.burger-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.burger-icon {
  width: 40px;
  height: 40px;
  fill: var(--primary-color);
}

.section-hero {
  background-color: var(--background);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 200px 0px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fons.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  color: var(--white);
  text-align: center;
  margin: 0px;
  margin-bottom: 30px;
}

.hero-button {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  background-color: var(--nav-color);
  min-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: var(--nav-color);
}

/*Общие стили секции*/
.section-advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 30px;
}

.advantages-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--no-primary-color);
}

.advantages-icon {
  display: inline-block;
  width: 70px;
  height: 70px;
}

.advantages-div {
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Стили  advantages-list*/
.advantages-list {
  display: flex;
}

.advantages-list .item {
  margin-right: 30px;
}

.advantages-list .item:last-child {
  margin: 0px;
}

/*Общие стили секции*/
.section-occupation {
  padding-bottom: 94px;
}

.occupation-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.occupation-div-img {
  position: relative;
}

.occupation-p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--white);
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

/*Стили occupation-list*/
.occupation-list {
  display: flex;
}

.occupation-list .item {
  margin-right: 30px;
}

.occupation-list .item:last-child {
  margin: 0px;
}

.section-team {
  padding-top: 94px;
  background: #f5f4fa;
  padding-bottom: 94px;
}

.team-title {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-fill);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list {
  display: flex;
}

.team-list .item:last-child {
  margin: 0px;
}

.team-list .item {
  margin-right: 30px;
  background-color: var(--white);
  padding-bottom: 30px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.name-container {
  padding-top: 30px;
  background-color: var(--white);
}

.team-job {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--no-primary-color);
}

.team-li-svg {
  margin-right: 10px;
}

.team-li-svg:last-child {
  margin-right: 0;
}

.team-ul-svg {
  display: inline-flex;
  margin-top: 16px;
}

.team-list-svg {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-svg:hover {
  background-color: var(--nav-color);
}

.team-list-svg:hover .team-icon {
  fill: var(--white);
}

.team-list-svg:focus {
  background-color: var(--nav-color);
}

.team-list-svg:focus .team-icon {
  fill: var(--white);
}

/*Общие стили секции*/
.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.clients-ul {
  display: inline-flex;
}

/* Стили clients-link*/
.clients-link {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover {
  border-color: var(--nav-color);
}

.clients-link:hover .clients-icon {
  fill: var(--nav-color);
}

.clients-link:focus {
  border-color: var(--nav-color);
}

.clients-link:focus .clients-icon {
  fill: var(--nav-color);
}

/* Стили clients-li */
.clients-li {
  margin-right: 30px;
}

.clients-li:last-child {
  margin-right: 0;
}

.clients-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Cтили иконок*/
.icon1 {
  width: 44px;
  height: 49px;
}

.icon2 {
  width: 40px;
  height: 52px;
}

.icon3 {
  width: 41px;
  height: 43px;
}

.icon4 {
  width: 80px;
  height: 42px;
}

.icon5 {
  width: 59px;
  height: 47px;
}

.icon6 {
  width: 88px;
  height: 45px;
}

/*Общие стили секции*/
.footer {
  background-color: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--nav-color);
}

.footer-logo-span {
  color: var(--white);
}

.footer-adress {
  margin-top: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white);
}

.footer-div {
  margin-left: 70px;
}

.footer-h3 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--white);
  margin-bottom: 20px;
}

.footer-form-container {
  margin-left: 93px;
}

.footer-form-title {
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 20px;
}

.footer-div-container {
  display: flex;
  align-items: baseline;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.footer-ul-svg {
  display: flex;
}

.footer-form-button {
  display: inline-flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white);
  background-color: var(--nav-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  border-color: var(--nav-color);
  align-items: center;
  justify-content: center;
}

.footer-form-svg-sent {
  display: inline-flex;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

/* Стили footer-list*/
.footer-list .link {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--no-primary-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list .item {
  margin-top: 9px;
}

.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--nav-color);
}

/*Стили footer-list-svg */
.footer-list-svg {
  display: inline-flex;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-svg:hover, .footer-list-svg:focus {
  background-color: var(--nav-color);
}

/*Стили footer-li-svg*/
.footer-li-svg {
  margin-right: 10px;
}

.footer-li-svg:last-child {
  margin-right: 0;
}

/*Стили footer-form-input*/
.footer-form-input {
  background-color: var(--background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
}

.footer-form-input:focus {
  color: var(--white);
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-cross-svg {
  width: 11px;
  height: 11px;
  align-items: center;
  justify-content: center;
  fill: var(--no-primary-color);
  color: var(--no-primary-color);
}

.modal-link-svg {
  display: inline-flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.modal-link-svg:hover .modal-cross-svg,
.modal-link-svg:focus .modal-cross-svg {
  fill: var(--nav-color);
}

/*Общие стили секции*/
textarea {
  resize: none;
}

.modal {
  padding: 40px 40px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-messange-lable {
  color: var(--no-primary-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
}

.modal-form-label {
  position: relative;
  color: var(--no-primary-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 10px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Стили modal-form-input*/
.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--nav-color);
}

.modal-form-input:focus + .modal-icon {
  fill: var(--nav-color);
}

/*Стили modal-form-messange*/
.modal-form-messange {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
}

.modal-form-messange:focus {
  outline: none;
}

.modal-form-messange::placeholder {
  color: #757575 50%;
}

/*Стили modal-form-lable-policy*/
.modal-form-lable-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 20px;
}

.modal-form-lable-policy::before {
  display: inline-block;
  content: "";
  width: 17px;
  height: 16px;
  border: 1px solid var(--primary-color);
  margin-right: 10px;
}

.modal-form-lable-policy:checked + .modal-form-lable-policy::before {
  background-image: url(../images/icon\check.svg);
  border: 0.2px solid #ffffff;
}

/*Стили modal-form-button*/
.modal-form-button {
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--nav-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  transition: background 250ms linear;
}

.modal-form-button:focus, .modal-form-button:hover {
  background: #188ce8;
}

.modal-form-check-link {
  color: var(--nav-color);
}

.modal-form-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}
/*# sourceMappingURL=main.css.map */